<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="AccessFileName" connectionString="~/App_Data/mrsparklytrent.accdb" providerName="System.Data.OleDb"/>
    <add name="AccessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|mrsparklytrent.accdb;Persist Security Info=False;" />
  </connectionStrings>

  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="/" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
        <add connectionStringName="AccessFileName" enablePasswordRetrieval="false"
          enablePasswordReset="false" requiresUniqueEmail="false" requiresQuestionAndAnswer="false"
          minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0"
          applicationName="SampleSite" hashAlgorithmType="SHA1" passwordFormat="Hashed"
          name="AccessMembershipProvider" type="Samples.AccessProviders.AccessMembershipProvider, SampleAccessProviders" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AccessProfileProvider"
     type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders"
     connectionStringName="AccessFileName"
     applicationName="SampleSite"
     description="Stores and retrieves profile data from an ASP.NET_Access_Providers1 database."/>
      </providers>
    </profile>

    <roleManager defaultProvider="AccessRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
        <add connectionStringName="AccessFileName" applicationName="/"
          name="AccessRoleProvider" type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
